http:
  routers:
    pihole:
      entryPoints:
        - "https"
      rule: "Host(`{{ pihole_frontend_fqdn }}`)"
      middlewares:
        - redirectregex-pihole
        - default-headers
        - addprefix-pihole
        - https-redirectscheme
      tls: {}
      service: pihole
    nexus:
      entryPoints:
        - "https"
      rule: "Host(`{{ nexus_frontend_fqdn }}`)"
      middlewares:
        - default-headers
        - https-redirectscheme
      tls: {}
      service: nexus
    docker_registry:
      entryPoints:
        - "https"
      rule: "Host(`{{ docker_registry_frontend_fqdn }}`)"
      middlewares:
        - default-headers
        - https-redirectscheme
      tls: {}
      service: docker_registry
    portainer:
      entryPoints:
        - "https"
      rule: "Host(`{{ portainer_frontend_fqdn }}`)"
      middlewares:
        - default-headers
        - https-redirectscheme
      tls: {}
      service: portainer
    openldap:
      entryPoints:
        - "https"
      rule: "Host(`{{ openldap_frontend_fqdn }}`)"
      middlewares:
        - default-headers
        - https-redirectscheme
      tls: {}
      service: openldap
  services:
    pihole:
      loadBalancer:
        servers:
          - url: "{{ pihole_backend_url }}"
        passHostHeader: true
    nexus:
      loadBalancer:
        servers:
          - url: "{{ nexus_backend_url }}"
        passHostHeader: true
    docker_registry:
      loadBalancer:
        servers:
          - url: "{{ docker_registry_backend_url }}"
        passHostHeader: true
    portainer:
      loadBalancer:
        servers:
          - url: "{{ portainer_backend_url }}"
        passHostHeader: true
    openldap:
      loadBalancer:
        servers:
          - url: "{{ openldap_backend_url }}"
        passHostHeader: true
  middlewares:
    addprefix-pihole:
      addPrefix:
        prefix: "/admin"
    https-redirectscheme:
      redirectScheme:
        scheme: https
        permanent: true
    redirectregex-pihole:
      redirectRegex:
        regex: /admin/$
        replacement: /
    default-headers:
      headers:
        frameDeny: true
        browserXssFilter: true
        contentTypeNosniff: true
        forceSTSHeader: true
        stsIncludeSubdomains: true
        stsPreload: true
        stsSeconds: 15552000
        customFrameOptionsValue: SAMEORIGIN
        customRequestHeaders:
          X-Forwarded-Proto: https
    default-whitelist:
      ipWhiteList:
        sourceRange:
        - "10.0.0.0/8"
        - "192.168.0.0/16"
        - "172.16.0.0/12"
    secured:
      chain:
        middlewares:
        - default-whitelist
        - default-headers